a {
    text-decoration: none;
}
.text_color {
    color: #9d9d9d;
}
#wrap__up {
    width: 30%;
    border: 3px solid #adadad;
    border-radius: 5px;
    padding: 20px;
    margin: 5% auto 10px auto;
}
#wrap__up .title {
    font-size: 35px;
    margin-bottom: 5px;
    text-align: center;
    color: #666;
}
#wrap__up .header #add i {
    color: #9d9d9d;
}
#wrap__up .header #add i:hover {
    color: #666;
}
#wrap__up .header #add i:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.1s ease;
}

#wrap__down {
    width: 30%;
    border: 3px solid #adadad;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto 1% auto;
}
#wrap__down .sub_title {
    font-size: 35px;
    /* margin-bottom: 5px; */
    color: #666;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 5px;
}
#wrap__down #list li{
    background-color: #f0f0f0;
    border-bottom: 1px solid #d0d0d0;
    color: #9d9d9d;
    padding: 8px 0;
}